:root {
  --header-height: 3rem;
  --nav-width: 50px;

  --first-color: #ffffff;
  --first-color-alt: #c4b0b0;
  --white-color: #000000e9;
  --dark-background: #7b7b7b;
  --dark-text-color: #ffffff;
  --highlight-color: #cccccc; /* Light gray for highlight */
}

.dark-mode {
  --first-color: #1e1e1e;
  --white-color: var(--dark-text-color);
  --highlight-color: #444444; 
  .profile-background{
    transition: 0.3s;
  }

  #menu {
    background: #868686;
  }
  
}

.container-profile-photo {
  width: 95%;
  height: 80vh;
  background-color: transparent;
  padding: 30px;
  box-shadow: 0px 5px 11px 0px rgba(95, 95, 95, 1);
  border-radius: 20px;
  align-items: left;
  backdrop-filter: blur(20px);
  margin-left: 2vh;
  margin-top: 120px;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.profile-text {
  text-align: center !important;
  
}

.upload-photo-button{
  margin-left: 120px;
  margin-top: -40px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6px 6px;
  gap: 4px;
  height: 40px;
  width: 40px;
  border: none;
  background: #1b1b1cd0;
  border-radius: 20px;
  cursor: pointer;
  position: fixed;
  z-index: 10;
  
}

.upload-photo-button:hover .svg-icon{
  animation: rotate 1.3s linear infinite;
}

.svg-icon{
  filter:contrast(0);
}

.background-picture-profile {
  height: 200px;
}

.profile-picture {
  border: transparent 5px solid;
  border-radius: 50%;
  z-index: 2;
  min-width: 180px;
  min-height: 180px;
  max-width: 180px;
  max-height: 180px;
  position: relative;
  left: calc(50% - 200px/2);
  top: calc(40% - 380px/2 - 47px);
  box-shadow: 10px black;
}

.profile-detail{
  display: flex;
}



input[type="firstname"],
input[type="lastname"],
input[type="tel"] {
  width: calc(100% - 40px);
  height: 20px;
  padding: 6px;
  border: none;
  border-bottom: 1px solid ;
  border: 1px solid #ccc;
  border-radius: 10px;
  outline: none;
  transition: border-color ease;
  align-items: center;
  text-align: center;
  color: var(--white-color);
  background-color: transparent;
}

input[type="firstname"]:read-only,
input[type="lastname"]:read-only,
input[type="email"]:read-only,
input[type="tel"]:read-only {
  background-color: transparent;
}

input[type="firstname"]:focus,
input[type="lastname"]:focus,
input[type="tel"]:focus {
  outline: none !important;
  border: none !important;
  border-bottom: 1px solid ;
  box-shadow: none !important;
}

input[type="email"]{
  height: 15px;
  padding: 3px;
  border: none;
  outline: none;
  transition: border-color ease;
  align-items: center;
  text-align: center;
  background-color: transparent;
  margin-left: -50px;
  font-family: Verdana, sans-serif ;
  font-size: large;
  color: var(--white-color);
}

#menu {
	background: #64d8ff;
	box-shadow: rgba(0, 0, 0, 0.1) 0px 24px 35px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
	height: 51px;
	border-radius: 20px;
  position: absolute;
  width: 103.5%;
  margin-top: -120px;
  margin-left: -7vh;
  justify-content: space-evenly;
  
}
#menu ul, #menu li {
	margin: 0 auto;
	padding: 0;
	list-style: none
  
}

#menu ul {
	width: 100%;
	text-align: center;
  justify-content: space-evenly;
}

#menu li {
	display: inline-block;
	position: relative;
  margin-left: 7%;
  margin-right: 7%;
}

#menu a {
	display: block;
	line-height: 51px;
	padding: 0 14px;
	text-decoration: none;
	color: var(--white-color);
	font-size: 19px;
	text-transform: capitalize;
  justify-content: space-evenly;
}

#menu a.dropdown-arrow:after {
	content: "\25BE";
	margin-left: 5px;
}

#menu li a:hover {
	color: #0099CC;
	background: #F2F2F2;
  border-radius: 15px;
}

#menu input {
	display: none;
	margin: 0;
	padding: 0;
	height: 51px;
	width: 100%;
	opacity: 0;
	cursor: pointer
}

#menu label {
	display: none;
	line-height: 51px;
	text-align: center;
	position: absolute;
	left: 35px
}

#menu label:before {
	font-size: 1.6em;
	color: #FFFFFF;
	content: "\2261"; 
	margin-left: 20px;
}

#menu ul.sub-menus{
	height: auto;
	overflow: hidden;
	width: 170px;
	background: #444444;
	position: absolute;
	z-index: 99;
	display: none;
}

#menu ul.sub-menus li {
	display: block;
	text-align: left;
	width: 100%;
}

#menu ul.sub-menus a {
	color: #FFFFFF;
	font-size: 16px;
}

#menu li:hover ul.sub-menus {
	display: block
}

#menu ul.sub-menus a:hover{
	background: #F2F2F2;
	color: #444444;
}

@media screen and (max-width: 760px){
	#menu {position:absolute}
	#menu ul {background:#444444;position:absolute;top:100%;right:0;left:0;z-index:3;height:auto;display:none;text-align:left;}
	#menu ul.sub-menus {width:100%;position:static;}
	#menu ul.sub-menus a {padding-left:30px;}
	#menu li {display:block;float:none;width:auto;}
	#menu input, #menu label {position:absolute;top:0;left:0;display:block}
	#menu input {z-index:4}
	#menu input:checked + label {color:#FFFFFF}
	#menu input:checked + label:before {content:"\00d7"}
	#menu input:checked ~ ul {display:block}
}


.details-div{
  
  margin-top: -11vh; 
  height: calc(59vh); 
  padding: 3vh;
  border-radius: 10px;
  transition-duration: .3s;
}


@media screen and (max-height: 600px){
  .details-div{
    height: calc(45vh);
    overflow: auto;
  }
}

/* detail page css */


.details-profile{
  display: flex;
  flex-direction: row;
  margin-top: 20px;
  overflow: auto;
}



.detail-left, .detail-right{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  width: 80%;
  height: 80%;
  overflow: auto;
}

.detail-left p, 
.detail-right p,
.detail-right input,
.detail-right select{
  /* border: solid #1e1e1e; */
  border: none;
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
  font-size: large;
  font-family: 'Franklin Gothic Medium', Verdana, Arial, Helvetica, sans-serif;
  width: 80%;
  color: var(--white-color);
  height: 40px;
}


.detail-right input,
.detail-right select{
 
  font-family: Verdana, Arial, Helvetica, sans-serif;
}

.detail-buttons{
  display: flex;
  flex-direction: row;
  transition-duration: .3s;
}

@media only screen and (min-width: 768px) {
  .detail-buttons {
    flex-direction: row;
  }
  .detail-save{
    transform: translateX(-50%);
    left:30%;
  }


}

/* For large devices (desktops, 1024px and up) */
@media only screen and (min-width: 1024px) {
  .detail-buttons {
    flex-direction: row;
    gap:9%; /* Adjust as needed */
  }
  .detail-save{
    
    left:49%;
  }
}

.detail-edit {
  position: relative;
  margin: 10px;
   
  left: 49%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  width: 100px;
  height: 40px;
  border: none;
  padding: 0px 20px;
  background-color: rgb(165, 165, 165);
  color: white;
  font-weight: 500;
  cursor: pointer;
  border-radius: 10px;
  box-shadow: 5px 5px 0px rgb(82, 82, 82);
  transition-duration: .3s;
}


.detail-save{
  position: relative;
  margin: 10px;
  
  left: 40%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  width: 100px;
  height: 40px;
  border: none;
  padding: 0px 20px;
  background-color: rgb(165, 165, 165);
  color: white;
  font-weight: 500;
  cursor: pointer;
  border-radius: 10px;
  box-shadow: 5px 5px 0px rgb(82, 82, 82);
  transition-duration: .3s;
}



.detail-svg {
  width: 13px;
  position: absolute;
  right: 0;
  margin-right: 20px;
  fill: white;
  transition-duration: .3s;
}

.detail-edit:hover, .detail-save:hover {
  color: transparent;
}

.detail-edit:hover svg , .detail-save:hover svg {
  right: 43%;
  margin: 0;
  padding: 0;
  border: none;
  transition-duration: .3s;
}

.detail-edit:active, .detail-save:active {
  transform: translate(3px , 3px);
  transition-duration: .3s;
  box-shadow: 2px 2px 0px rgb(140, 32, 212);
}
/* .detail-edit{
  position: absolute;
  
  top: 75%;
  margin-top: 20px;
  margin-right: 20px;
  padding: 10px;
  border-radius: 10px;
  background-color: #1e1e1e;
  color: #ffffff;
  cursor: pointer;

} */

.detail-clr{
  background: #cecececd;
}



/* .detail-right input,
.detail-right select
{
  
  color: var(--white-color);
  border: none;
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
  font-size: large;
  align-items: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
} */