@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300&family=Nunito:ital,wght@0,400;0,700;1,600&family=Work+Sans:wght@300;400;700;900&display=swap");


:root {
  /* font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400; */

  color-scheme: light dark;
  color: var(--first-color);
  background-color: var(--first-color);
  --color-primary: #358FF9;
  --color-success: #2BB6A6;
  /* font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;  */
  --by-color: #8b8b8b;
  --dark-id-background: #000000;
}
.dark-mode {
    --white-color: var(--dark-text-color);
    --highlight-color: #ffffff; 
    /* .center{
      filter: invert(92.9%) blur(2px);
    } */

    .container-library{
      background: #313131;
    }

    .library-card{
      background: rgb(0, 0, 0);
    }

    .upload-detail-right input{
      border-color: #c2c2c2;
    }
    .upload-form-button{
      color: white;
    }
}

.library-title {
  font-size: 3.2em;
  line-height: 1.1;
  font-family: "Cormorant Garamond", serif;
  text-transform: uppercase;
  text-align: center;
  margin: 5rem auto;
}

/* button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
} */

.wrapper-library {
  
  width: 100%;
  display: flex;
  height: 84vh;
}
.container-library {
  
  margin: 0 auto;
  background-color: #e6e6e6;
  border-radius: 30px;
  overflow: auto;
  width: 150%;
  
  align-items: center;
  justify-content: center;
  height: 100%;
}

.grid {
  display: grid;
  gap: 2rem;
  margin-left: 10%;
}
.grid-three-column {
  height: 50px;
}

.library-card {
  /* border: solid 1.5px; */
  background: white;
  padding: 5px 5px 5px 5px;
  border-radius: 50px;
  height: 14vh; 
  width: 70vw;
  margin: 5px 1% 5px 1%;
  float: left;
  position: relative;
  transition: height 0.5s;
  -webkit-transition: height 0.5s;
  text-align: center;
  overflow: hidden;
  transition: 1s;
  backdrop-filter: blur(30px);
  box-shadow: rgba(0, 0, 0, 0.2) 0px 40px 40px -10px;
  
}
.library-card:hover{
  height: 40vh;
}

@media only screen and (min-width: 768px) {
  .library-card {
    height: 14vh; 
    width: 70vw; 
    
  }
  .library-card-header{
    display: flex;
    flex-direction: column;
  }
}


@media only screen and (min-width: 1024px) {
  .library-card {
    height: 14vh; 
    width: 70vw; 
  }
}

 .library-card-info {
  height: 100%;
  border-radius: 1rem;
  gap: 10px;
  border-radius: 20px;
  border: 10px;
  text-align: center;
  
}

.bodyL{
  padding: 15px 50px 0px 50px;
  text-align: center;
  align-content: center;
  color: #000;
  position: absolute;
  opacity: 0; /* Initially hide the div */
  transition: opacity 0.5s 1s;
  margin-top: 3vh;
  margin-left: 6vw; 
  margin-right: 6vw;
}

.library-card:hover .bodyL{
  opacity: 1;
}

.library-card:not(:hover) .bodyL{
  transition-delay: 0.1s; /* Add a delay after hovering stops */
  opacity: 0;
}

@keyframes fadeIn {
  100% {
    opacity: 1; /* Make the paragraph fully visible at the end of animation */
  }
}

.library-card-header{
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
  margin-bottom: 20px;
}

.library-card-title{
  font-size: 38px;
  text-align: left !important;
}

.library-card-author{
  margin-top: -65px;
  font-size: 25px;
  text-align: right !important;
}

/* @media screen and (max-width: 1119px) {
  .container {
    max-width: 90%;
  }
  .grid {
    gap: 1.6rem;
  }

  .card {
    background-color: #213547;
  }
  .card-info {
    padding: 0rem;
    background-color: #213547;
  }
} */

.card-id {
  width: 4rem;
  height: 3rem;
  border-radius: 50%;
  color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  font-size: 1.6rem;
}

p {
  text-align: justify;
  font-family: "Cormorant Garamond", serif;
  font-size: 1.4rem;
  line-height: 1.6rem;
  
}
h2 {
  padding: 1rem;
  text-align: left;
  font-family: "Cormorant Garamond", serif;
  text-transform: capitalize;
}

figure {
  height: 15rem;
  display: grid;
  place-items: center;
}
img {
  max-width: 100%;
  height: inherit;
}

.loading-container {
  width: 100%;
  text-align: center;
  margin: 2rem auto;
}

.lds-ripple {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ripple div {
  position: absolute;
  border: 4px solid rgb(63, 219, 144);
  opacity: 1;
  border-radius: 50%;
  animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.lds-ripple div:nth-child(2) {
  animation-delay: -0.5s;
}
@keyframes lds-ripple {
  0% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 0;
  }
  4.9% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 0;
  }
  5% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 0px;
    left: 0px;
    width: 72px;
    height: 72px;
    opacity: 0;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

/* body {
  background-color: #f5f5f1;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
} */

@keyframes book-bounce {
  0% { transform: translateY(0); }
  40% { transform: translateY(-10px); }
  80% { transform: translateY(0); }
  100% { transform: translateY(0); }
}

@keyframes shelf-lift {
  0% { transform: translateY(0) rotate(0); }
  20% { transform: translateY(-4px) rotate(10deg); }
  40% { transform: translateY(-4px) rotate(0); }
  40% { transform: translateY(-4px) rotate(-10deg); }
  80% { transform: translateY(0); }
  100% { transform: translateY(0); }
}

.book-shelf {
  
  margin-left: 45%;
  margin-top: -50vh;
  /* margin: 2rem auto; */
  display: inline-block;
  position: fixed;
  width: 80px;
  height: 80px;
  
  .book-shelf__book {
    animation: book-bounce 0.4s ease;
    animation-iteration-count: infinite;
    position: absolute;
  }
  
  .book-shelf__book--two {
    animation-delay: 0.04s;
  }

  .book-shelf__book--three {
    animation-delay: 0.08s;
  }
  
  .book-shelf__shelf {
    animation: shelf-lift 0.4s ease;
    animation-iteration-count: infinite;
    transform-origin: 50% 50%;
  }
}



/* @-webkit-keyframes slidein {
from {background-position: top; background-size:3000px; }
to {background-position: -100px 0px;background-size:2750px;}
}

@keyframes slidein {
from {background-position: top;background-size:3000px; }
to {background-position: -100px 0px;background-size:2750px;}

} */



.center
{
  /* background-image: url('./library-book-svgrepo-com.png'); */
  background-size:cover;
  
  border-radius: 30px;
  background-position: top; 
  background-size:80vh;
  filter: blur(2px);
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  margin: auto;
  top: 10px;
  right: 0;
  bottom: 0px;
  left: 5px;
  z-index: -1;
  /* background: transparent; */
  border-radius: 3px;
}



.book {
  transform-style: preserve-3d;
  position: absolute;
  height: 300px;
  cursor: pointer;
  backface-visibility: visible;
  z-index: -1;
  
  
}

.front, .back, .page1, .page2, .page3, .page4, .page5, .page6 {
  transform-style: preserve-3d;
  position: absolute;
  width: 32vw;
  height: 50vh;
  top: 0; left: 0;
  transform-origin: left center;
  transition: transform 1s ease-in-out, box-shadow .35s ease-in-out;
  left: 35vw;
  top: 32vh;
  filter: blur(2px);
}

@media only screen and (min-width: 768px) {
  .front, .back, .page1, .page2, .page3, .page4, .page5, .page6 {
    width: 32vw;
  height: 50vh;
  }
}


@media only screen and (min-width: 1024px) {
  .front, .back, .page1, .page2, .page3, .page4, .page5, .page6 {
    width: 32vw;
  height: 50vh; 
  }
}

.front, .back {
  background: rgba(205, 235, 255, 0.762);
}

.front, .page1, .page3, .page5 {
  border-bottom-right-radius: .5em;
  border-top-right-radius: .5em;
}

.back, .page2, .page4, .page6 {
  border-bottom-right-radius: .5em;
  border-top-right-radius: .5em;
}

.page1 { 
  background: #efefef;
}

.page2 {
  background: #efefef;
}

.page3 {
  background: #f5f5f5;
}

.page4 {
  background: #f5f5f5;
}

.page5 {
  background: #fafafa;
}

.page6 {
  background: #fdfdfd;
}

.library-card:hover .front {
  transform: rotateY(-160deg) scale(1.1);
  box-shadow: 0 1em 3em 0 rgba(0, 0, 0, .2);
}

.library-card:hover .page1 {
  transform: rotateY(-155deg) scale(1.1);
  box-shadow: 0 1em 3em 0 rgba(0, 0, 0, .2);
}

.library-card:hover .page2 {
  transform: rotateY(-25deg) scale(1.1);
  box-shadow: 0 1em 3em 0 rgba(0, 0, 0, .2);
}

.library-card:hover .page3 {
  transform: rotateY(-147deg) scale(1.1);
  box-shadow: 0 1em 3em 0 rgba(0, 0, 0, .2);
}

.library-card:hover .page4 {
  transform: rotateY(-33deg) scale(1.1);
  box-shadow: 0 1em 3em 0 rgba(0, 0, 0, .2);
}

.library-card:hover .page5 {
  transform: rotateY(-139deg) scale(1.1);
  box-shadow: 0 1em 3em 0 rgba(0, 0, 0, .2);
}

.library-card:hover .page6 {
  transform: rotateY(-41deg) scale(1.1);
  box-shadow: 0 1em 3em 0 rgba(0, 0, 0, .2);
}

.library-card:hover .back {
  transform: rotateY(-20deg) scale(1.1);
}

.cssbuttons-io-button {
  position: fixed;
  align-items: center;
  font-family: inherit;
  font-weight: 500;
  font-size: 17px;
  padding: 15px;
  color: white;
  background: #f4f4f4;
  background: linear-gradient(0deg, rgb(232, 232, 232) 0%, rgb(73, 73, 73) 100%);
  border: none;
  cursor: pointer;
  border-radius: 20em;
  bottom: 76vh;
  left: calc(90vw - 70px);
}

@media (max-width: 768px) {
  .cssbuttons-io-button {
    bottom: 30vh;
    left: calc(80vw - 80px);
    font-size: 15px;
    padding: 0.6em 1.2em 0.6em 1em;
  }
}

.cssbuttons-io-button svg {
  margin-right: 0px;
}

.cssbuttons-io-button:hover {
  box-shadow: 0 0.5em 1.5em -0.5em rgb(187, 187, 187);
}

.cssbuttons-io-button:active {
  box-shadow: 0 0.3em 1em -0.5em rgb(204, 204, 204);
}

.file-upload-info{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 10px;
  width: 80%;
}


.upload-detail-left, .upload-detail-right{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  margin: 20px;
  width: 80%;
  font-size: medium;
}

.upload-detail-right input{
  margin: 5px;
  background: #bbbbbb;
  border: none;
  border-bottom: 2px solid;
  border-color: #5a5a5a;
  color: var(--white-color);
  border-radius: 5px;
}

.upload-detail-right input:active{
  margin: 5px;
  background: none;
  border: none;
  border-bottom: 2px solid;
  border-color: #000;
}

.upload-detail-right textarea{
  margin: 5px;
  width: 50vh;
  height: 10vh;
  background: #bbbbbb;
  border-radius: 5px;
}





.file-upload-form {
  background-color: var(--first-color);
  width: fit-content;
  min-width: 90vh;
  height: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: fixed;
  left: calc(35vw - 200px); /* Adjust as needed */
  top: 7vh;
  border-radius: 40px;
  border: 2px dashed rgb(82, 82, 82);
  box-shadow: 0px 0px 200px -50px rgba(0, 0, 0, 0.719);
  z-index: 10;
}

.file-upload-label input {
  display: none;
}

.file-upload-label svg {
  height: 100px;
  fill: rgb(82, 82, 82);
  margin-bottom: 20px;
}
.file-upload-label {
  display: flex;
  flex-direction: column;
  width: 30vw;
  height: 50vh;
  cursor: pointer;
  background-color: var(--first-color);
  margin: 50px;
  border-radius: 10px;
  box-shadow: 0 15px 30px 0 rgba(0, 125, 171, 0.425);
}
.file-upload-design {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
}
.browse-button {
  background-color: rgb(82, 82, 82);
  padding: 5px 15px;
  border-radius: 10px;
  color: white;
  transition: all 0.3s;
}
.browse-button:hover {
  background-color: rgb(14, 14, 14);
}

.upload-button {
  width: 10vw; 
  height: 7vh; 
  cursor: pointer;
  font-weight: 700;
  font-family: Helvetica,"sans-serif";
  transition: all .2s;
  padding: 10px 20px;
  border-radius: 100px;
  background: #7b7b7b;
  border: 1px solid transparent;
  display: flex;
  align-items: center;
  font-size: 15px;
  margin-top: 15px;
  margin-left: calc(4.6vw - 20px);
}

.upload-button:hover {
  background: #989898;
}

.upload-button > svg {
  width: 34px;
  margin-top: 15px;
  margin-left: 10px;
  transition: transform .3s ease-in-out;
}

.upload-button:hover svg {
  transform: translateX(5px);
}

.upload-button:active {
  transform: scale(0.95);
}

/* .upload-button {
  width: 4vw; 
  height: 4vw; 
  border-radius: 50%;
  background-color: rgb(20, 20, 20);
  border: none;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 0px 0px 4px rgba(180, 160, 255, 0.253);
  cursor: pointer;
  transition-duration: 0.3s;
  overflow: hidden;
  position: relative;
  top: 2vh;
  left: calc(8vw - 20px);
}

.upload-svgIcon {
  width: 12px;
  transition-duration: 0.3s;
}

.upload-svgIcon path {
  fill: white;
}

.upload-button:hover {
  width: 140px;
  left: calc(8vh - 20px);
  border-radius: 50px;
  transition-duration: 0.3s;
  background-color: rgb(181, 160, 255);
  align-items: center;
}

.upload-button:hover .upload-svgIcon {
  width: 20px;
  transition-duration: 0.3s;
  transform: translateY(-200%);
}

.upload-button::before {
  position: absolute;
  bottom: -20px;
  content: "Back to Top";
  color: white;
  transition-duration: .3s;
  font-size: 0px;
}

.upload-button:hover::before {
  font-size: 13px;
  opacity: 1;
  bottom: unset;
  transition-duration: 0.3s;
}  */


.upload-form-button {
  appaerance: none;
  font: inherit;
  border: none;
  background: none;
  cursor: pointer;
}

.upload-form-container {
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.5rem;
}

.modal {
  display: flex;
  flex-direction: column;
  width: 40vw;

  /* max-width: 500px; */
  background-color: var(--first-color);
  box-shadow: 0 15px 30px 0 rgba(0, 125, 171, 0.425);
  border-radius: 10px;
}

.modal__header {
  padding: 0.5rem 1.5rem;
  border-bottom: 1px solid #ddd;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.modal__body {
  padding: 1rem 1rem;
}

.modal__footer {
  padding: 0 1.5rem 1.5rem;
}

.modal__title {
  font-weight: 700;
  font-size: 1.25rem;
}

.upload-form-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transition: 0.15s ease;
  
}

.upload-form-button--icon {
  width: 2.5rem;
  height: 2.5rem;
  background-color: transparent;
  border-radius: 0.25rem;
  background-color: #8d8d8d;
}

.upload-form-button--icon:focus, .upload-form-button--icon:hover {
  background-color: #464646;
}

.upload-form-button--primary {
  background-color: #007dab;
  color: #FFF;
  padding: 0.75rem 1.25rem;
  border-radius: 0.25rem;
  font-weight: 500;
  font-size: 0.875rem;
}

.upload-form-button--primary:hover {
  background-color: #006489;
}

.upload-form-input1 {
  display: flex;
  flex-direction: row;
  gap: 18%;
}

.upload-form-input2 {
  display: flex;
  flex-direction: column;
}

.upload-form-input + .upload-form-input {
  margin-top: 1.75rem;
}

.input__label {
  font-weight: 700;
  font-size: 0.8rem;
}

.input__field {
  display: block;
  margin-top: 0.5rem;
  border: 1px solid #DDD;
  border-radius: 0.25rem;
  /* padding: 0.4rem 0.5rem; */
  height: 3.5vh;
  width: 15vw;
  transition: 0.15s ease;
}

.input__field2 {
  display: block;
  margin-top: 0.5rem;
  border: 1px solid #DDD;
  border-radius: 0.25rem;
  height: 3.5vh;
  width: 36.7vw;
  transition: 0.15s ease;
}

.input__field:focus {
  outline: none;
  border-color: #007dab;
  box-shadow: 0 0 0 1px #007dab, 0 0 0 4px rgba(0, 125, 171, 0.25);
}

.input__field--textarea {
  height: auto;
  width: 36.7vw;
  margin-top: 0.5rem;
  min-height: 40px; /* Or whatever minimum height you want */
  overflow: hidden;
  resize: none;
}

.input__description {
  font-size: 0.875rem;
  margin-top: 0.5rem;
  color: #8d8d8d;
}

.upload-custom-select {
	position: fixed;
  width: 11vw;
  bottom: 77.5vh;
  left: calc(80vw - 100px); 
}

.upload-custom-select select {
	appearance: none;
	-webkit-appearance: none;
	width: 100%;
	font-size: 14px;
	padding: 5px 10px 5px 10px;
	background-color: #DBDBDB;
	border: 2px solid #b6ccfa;
	border-radius: 9px;
	color: #000000;
	cursor: pointer;
	outline: none;
	box-shadow: 3px 3px 3px 0px #E2E2E2;
}

.upload-custom-select select:focus {
	background: #F2F2F2;
	border: 2px solid #72a1ff;
	border-radius: 5px;
}

.upload-custom-select::after {
	content: "";
	position: absolute;
	pointer-events: none;
	top: 50%;
	right: 10px;
	transform: translate(0, -50%);
	width: 12px;
	height: 12px;
	background-color: #000000;
	clip-path: polygon(8% 17%, 0% 25%, 50% 84%, 100% 25%, 92% 17%, 50% 65%);
}

.upload-next-Btn {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100px;
  height: 40px;
  border: none;
  padding: 0px 20px;
  margin-left: 20px;
  background: linear-gradient(to right, #97e7ff, #14625d);
  color: white;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  border-radius: 12px;
  box-shadow: 0 20px 30px -7px rgba(97, 118, 238, 0.5);
  transition-duration: 0.3s;
}

.upload-next-svg {
  width: 12px;
  position: absolute;
  right: 0;
  margin-right: 20px;
  fill: white;
  transition-duration: 0.3s;
}

.upload-next-Btn:hover {
  color: transparent;
}

.upload-next-Btn:hover svg {
  right: 43%;
  margin: 0;
  padding: 0;
  border: none;
  transition-duration: 0.3s;
}

.upload-next-Btn:active {
  transform: translate(3px, 3px);
  transition-duration: 0.3s;
}

.upload-prev-Btn{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 120px;
  height: 40px;
  border: none;
  padding: 0px 20px;
  background: linear-gradient(to right, #275f5c, #b6e7f6);
  color: white;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  border-radius: 12px;
  transition-duration: 0.3s;
}

.upload-prev-Btn svg {
  width: 12px;
  position: relative;
  left: 10px;
  top: 10px;
  fill: white;
  transition-duration: 0.3s;
}

.upload-prev-Btn:hover {
  color: transparent;
}

.upload-prev-Btn:hover svg {
  left: -20px;
  
  border: none;
  transition-duration: 0.3s;
}

.upload-prev-Btn:active {
  transform: translate(3px, 3px);
  transition-duration: 0.3s;
}

.upload-submit-Btn {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 120px;
  height: 40px;
  border: none;
  padding: 0px 20px;
  margin-left: 20px;
  background: linear-gradient(to right, #b6e7f6, #275f5c);
  color: white;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  border-radius: 12px;
  transition-duration: 0.3s;
}

.upload-submit-Btn svg {
  width: 15px;
  position: relative;
  left: 10px;
  top: 10px;
  fill: white;
  transition-duration: 0.3s;
}

.upload-submit-Btn:hover {
  color: transparent;
}

.upload-submit-Btn:hover svg {
  left: -20px;
  
  border: none;
  transition-duration: 0.3s;
}

.upload-submit-Btn:active {
  transform: translate(3px, 3px);
  transition-duration: 0.3s;
}

.upload-form-btns{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 7vh;
  overflow: hidden;
}