@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300&family=Nunito:ital,wght@0,400;0,700;1,600&family=Work+Sans:wght@300;400;700;900&display=swap");


:root {
  /* font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400; */

  color-scheme: light dark;
  color: var(--first-color);
  background-color: var(--first-color);

  /* font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;  */
  --by-color: #8b8b8b;
  --dark-id-background: #000000;
}
.dark-mode {
    --white-color: var(--dark-text-color);
    --highlight-color: #ffffff; 
    /* .center{
      filter: invert(92.9%) blur(2px);
    } */

    .container-library{
      background: #1d1d1d;
    }

    .library-card{
      box-shadow: rgba(211, 211, 211, 0.2) 0px 40px 40px -10px;
    }
}

.library-title {
  font-size: 3.2em;
  line-height: 1.1;
  font-family: "Cormorant Garamond", serif;
  text-transform: uppercase;
  text-align: center;
  margin: 5rem auto;
}

/* button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
} */

.wrapper-library {
  
  width: 100%;
  display: flex;
  height: 84vh;
}
.container-library {
  
  margin: 0 auto;
  background-color: #e9e9e9;
  border-radius: 30px;
  overflow: auto;
  width: 150%;
  
  align-items: center;
  justify-content: center;
  height: 100%;
}

.grid {
  display: grid;
  gap: 2rem;
  margin-left: 10%;
}
.grid-three-column {
  height: 50px;
}

.library-card {
  /* border: solid 1.5px; */
  
  padding: 5px 5px 5px 5px;
  border-radius: 50px;
  height: 100px;
  width: 130vh;
  margin: 5px 1% 5px 1%;
  float: left;
  position: relative;
  transition: height 0.5s;
  -webkit-transition: height 0.5s;
  text-align: center;
  overflow: hidden;
  transition: 1s;
  backdrop-filter: blur(30px);
  box-shadow: rgba(0, 0, 0, 0.2) 0px 40px 40px -10px;
  
}
.library-card:hover{
  height: 40vh;
 
  
}

 .library-card-info {
  height: 100%;
  border-radius: 1rem;
  gap: 10px;
  border-radius: 20px;
  border: 10px;
  text-align: center;
  
}

.bodyL{
  padding: 15px 50px 0px 50px;
  text-align: center;
  color: #000;
  position: absolute;
  opacity: 0; /* Initially hide the div */
  transition: opacity 0.5s 1s;
  
}

.library-card:hover .bodyL{
  opacity: 1;
}

.library-card:not(:hover) .bodyL{
  transition-delay: 0.1s; /* Add a delay after hovering stops */
  opacity: 0;
}

@keyframes fadeIn {
  100% {
    opacity: 1; /* Make the paragraph fully visible at the end of animation */
  }
}

.library-card-header{
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
  margin-bottom: 20px;
}

.library-card-title{
  font-size: 38px;
  text-align: left !important;
}

.library-card-author{
  margin-top: -65px;
  font-size: 25px;
  text-align: right !important;
}

/* @media screen and (max-width: 1119px) {
  .container {
    max-width: 90%;
  }
  .grid {
    gap: 1.6rem;
  }

  .card {
    background-color: #213547;
  }
  .card-info {
    padding: 0rem;
    background-color: #213547;
  }
} */

.card-id {
  width: 4rem;
  height: 3rem;
  border-radius: 50%;
  color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  font-size: 1.6rem;
}

p {
  text-align: justify;
  font-family: "Cormorant Garamond", serif;
  font-size: 1.4rem;
  line-height: 1.6rem;
  
}
h2 {
  padding: 1rem;
  text-align: left;
  font-family: "Cormorant Garamond", serif;
  text-transform: capitalize;
}

figure {
  height: 15rem;
  display: grid;
  place-items: center;
}
img {
  max-width: 100%;
  height: inherit;
}

.loading-container {
  width: 100%;
  text-align: center;
  margin: 2rem auto;
}

.lds-ripple {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ripple div {
  position: absolute;
  border: 4px solid rgb(63, 219, 144);
  opacity: 1;
  border-radius: 50%;
  animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.lds-ripple div:nth-child(2) {
  animation-delay: -0.5s;
}
@keyframes lds-ripple {
  0% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 0;
  }
  4.9% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 0;
  }
  5% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 0px;
    left: 0px;
    width: 72px;
    height: 72px;
    opacity: 0;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

/* body {
  background-color: #f5f5f1;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
} */

@keyframes book-bounce {
  0% { transform: translateY(0); }
  40% { transform: translateY(-10px); }
  80% { transform: translateY(0); }
  100% { transform: translateY(0); }
}

@keyframes shelf-lift {
  0% { transform: translateY(0) rotate(0); }
  20% { transform: translateY(-4px) rotate(10deg); }
  40% { transform: translateY(-4px) rotate(0); }
  40% { transform: translateY(-4px) rotate(-10deg); }
  80% { transform: translateY(0); }
  100% { transform: translateY(0); }
}

.book-shelf {
  
  margin-left: 45%;
  margin-top: -50vh;
  /* margin: 2rem auto; */
  display: inline-block;
  position: fixed;
  width: 80px;
  height: 80px;
  
  .book-shelf__book {
    animation: book-bounce 0.4s ease;
    animation-iteration-count: infinite;
    position: absolute;
  }
  
  .book-shelf__book--two {
    animation-delay: 0.04s;
  }

  .book-shelf__book--three {
    animation-delay: 0.08s;
  }
  
  .book-shelf__shelf {
    animation: shelf-lift 0.4s ease;
    animation-iteration-count: infinite;
    transform-origin: 50% 50%;
  }
}



/* @-webkit-keyframes slidein {
from {background-position: top; background-size:3000px; }
to {background-position: -100px 0px;background-size:2750px;}
}

@keyframes slidein {
from {background-position: top;background-size:3000px; }
to {background-position: -100px 0px;background-size:2750px;}

} */



.center
{
  /* background-image: url('./library-book-svgrepo-com.png'); */
  background-size:cover;
  
  border-radius: 30px;
  background-position: top; 
  background-size:80vh;
  filter: blur(2px);
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  margin: auto;
  top: 10px;
  right: 0;
  bottom: 0px;
  left: 5px;
  z-index: -1;
  /* background: transparent; */
  border-radius: 3px;
}



.book {
  transform-style: preserve-3d;
  position: absolute;
  height: 300px;
  cursor: pointer;
  backface-visibility: visible;
  z-index: -1;
  
  
}

.front, .back, .page1, .page2, .page3, .page4, .page5, .page6 {
  transform-style: preserve-3d;
  position: absolute;
  width: 58vh;
  height: 100%;
  top: 0; left: 0;
  transform-origin: left center;
  transition: transform 1s ease-in-out, box-shadow .35s ease-in-out;
  left: 64vh;
  top: 32vh;
  filter: blur(2px);
}

.front, .back {
  background: rgba(205, 235, 255, 0.762);
}

.front, .page1, .page3, .page5 {
  border-bottom-right-radius: .5em;
  border-top-right-radius: .5em;
}

.back, .page2, .page4, .page6 {
  border-bottom-right-radius: .5em;
  border-top-right-radius: .5em;
}

.page1 { 
  background: #efefef;
}

.page2 {
  background: #efefef;
}

.page3 {
  background: #f5f5f5;
}

.page4 {
  background: #f5f5f5;
}

.page5 {
  background: #fafafa;
}

.page6 {
  background: #fdfdfd;
}

.library-card:hover .front {
  transform: rotateY(-160deg) scale(1.1);
  box-shadow: 0 1em 3em 0 rgba(0, 0, 0, .2);
}

.library-card:hover .page1 {
  transform: rotateY(-155deg) scale(1.1);
  box-shadow: 0 1em 3em 0 rgba(0, 0, 0, .2);
}

.library-card:hover .page2 {
  transform: rotateY(-25deg) scale(1.1);
  box-shadow: 0 1em 3em 0 rgba(0, 0, 0, .2);
}

.library-card:hover .page3 {
  transform: rotateY(-147deg) scale(1.1);
  box-shadow: 0 1em 3em 0 rgba(0, 0, 0, .2);
}

.library-card:hover .page4 {
  transform: rotateY(-33deg) scale(1.1);
  box-shadow: 0 1em 3em 0 rgba(0, 0, 0, .2);
}

.library-card:hover .page5 {
  transform: rotateY(-139deg) scale(1.1);
  box-shadow: 0 1em 3em 0 rgba(0, 0, 0, .2);
}

.library-card:hover .page6 {
  transform: rotateY(-41deg) scale(1.1);
  box-shadow: 0 1em 3em 0 rgba(0, 0, 0, .2);
}

.library-card:hover .back {
  transform: rotateY(-20deg) scale(1.1);
}