:root{
  --first-color : rgb(255, 255, 255);
  --dark-background: rgb(0, 0, 0);
}

.dark-mode {
  --first-color: var(--dark-background);
  --white-color: var(--dark-text-color);
  --highlight-color: #444444; 

  .auth-form {
    box-shadow: rgba(211, 211, 211, 0.2) 0px 60px 40px -10px;
    
  }
}

*{
    font-family: Arial, Helvetica, sans-serif;
}

.form-container {
  position: relative;
  margin: 30px auto;
  width: 35vh;
}

.form-container input[type="text"],
.form-container input[type="password"] {
  font-size: 15px;
  color: var(--white-color);
  width: 100%;
  border: none;
  border-bottom: 2px solid #ccc;
  padding: 5px 0;
  background-color: transparent;
  outline: none;
  transition: 3s;
}

.form-container .label {
  position: absolute;
  top: 0;
  left: 0;
  /* color: #ccc; */
  transition: all 0.3s ease;
  pointer-events: none;
}

.form-container input[type="text"]:focus ~ .label,
.form-container input[type="text"]:valid ~ .label,
.form-container input[type="password"]:focus ~ .label,
.form-container input[type="password"]:valid ~ .label {
  top: -20px;
  font-size: 16px;
  /* color: #7b7b7b; */
}

.form-container .underline {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  width: 100%;
  background-color: #333;
  transform: scaleX(0);
  transition: all 0.3s ease;
}

.form-container input[type="text"]:focus ~ .underline,
.form-container input[type="text"]:valid ~ .underline,
.form-container input[type="password"]:focus ~ .underline,
.form-container input[type="password"]:valid ~ .underline  {
  transform: scaleX(1);
}

.auth-container {
    display: flex;
    justify-content: center;
    align-items: center;
    
  }
  
  .auth-form {
    width: 450px;
    padding: 20px;
    border: 0px solid #959595;
    border-radius: 8px;
    box-shadow: inset 2px 2px 10px var(--first-color),
    inset -1px -1px 5px rgba(255, 255, 255, 0.6);
    background: transparent;
    backdrop-filter: blur(20px);
    margin-left: 20%;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 60px 40px -7px;
    
  }
  
  .auth-form h2 {
    margin-bottom: 20px;
    text-align: center;
    
  }
  
  

  .auth_button {
    margin-top: 15px;
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #686868;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    
    

  }
  
  .auth_button:hover {
    background-color: #877777;
  }
  
  .toggle-text {
    margin-top: 20px;
    text-align: center;
    font-size: 20px;
    
  }
  
  .toggle-button {
    background: none;
    border: none;
    color: var(--white-color);
    cursor: pointer;
    font-weight: bold;
    
    
  }
  
  .toggle-button:hover {
    text-decoration: underline;
  }

  .bn5 {
    margin-top: 15px;
    margin-left: 31%;
    width: 110px;
    padding: 0.6em 2em;
    border: none;
    outline: none;
    color: rgb(255, 255, 255);
    background-color: #7a7a7a;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
  }
  
  .bn5:before {
    content: "";
    background: linear-gradient(
      45deg,
      #000000,
      rgb(49, 49, 49),
      #494949,
      #6d6d6d,
      #9c9c9c,
      #858484,
      #505050,
      #303030,
      #000000
    );
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowingbn5 20s linear infinite;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    border-radius: 10px;
  }
  
  @keyframes glowingbn5 {
    0% {
      background-position: 0 0;
    }
    50% {
      background-position: 400% 0;
    }
    100% {
      background-position: 0 0;
    }
  }
  
  .bn5:active {
    color: #818181;
  }
  
  .bn5:active:after {
    background: transparent;
  }
  
  .bn5:hover:before {
    opacity: 1;
  }
  
  .bn5:after {
    z-index: -1;
    content: "";
    position: relative;
    width: 100%;
    height: 100%;
    background: #6c6c6c;
    left: 0;
    top: 0;
    border-radius: 10px;
  }

  @media screen and (max-width: 768px) {
    .auth-container {
      margin-left: -25%;
    }
    .auth-form {
      width: 350px;
      border: 3px solid #959595;
      border-radius: 8px;
      background-color: none;
      box-shadow: inset 2px 2px 10px rgba(0,0,0,1),
      inset -1px -1px 5px rgba(255, 255, 255, 0.6);
      background-color: var(--first-color);
    }
    
  } 