:root{
    --light-image: url(./Screenshot_2024-03-20_202235.png)  no-repeat;
    --dark-image: url(./Screenshot_2024-03-20_202252.png) no-repeat;
}

.dark-mode {
    --light-image: var(--dark-image);
    .page-logo{
        mix-blend-mode:lighten ;
    }
  }

.homePage{
    background-color: none;
    align-items: left;
    text-align: center;
    padding: 30px;
    width: auto;
    margin-left:25% ;
}

.search_bar{
    padding-top: 15vh;
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 200px;
}

.page-logo{
    display: inline-block;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin-bottom: 50px ;
    background-size: 600px;
    vertical-align: bottom;
    width: 80vh;
    transition: 0.3s;
    mix-blend-mode: darken;
    margin-left: -18px;
}

.search-result-page{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    border-radius: 27px;
    padding: 8px;
    gap: 20px;
}

@-webkit-keyframes scale-in-ver-center {
  0% {
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
    opacity: 1;
  }
}
@keyframes scale-in-ver-center {
  0% {
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
    opacity: 1;
  }
}

.after-result-container{
  width: 87vw;
  box-shadow: rgb(38, 57, 77) 0px 20px 20px -10px;
  border-bottom: 1px solid #212121;
  border-radius: 10px;
  -webkit-animation: scale-in-ver-center 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	animation: scale-in-ver-center 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  text-decoration: none;
}

.after-result-container h3{
  font-size: medium;
  margin-left:4vw ;
  margin-bottom: 2vh;
  font-weight: 5;
}

.after-result-container h2{
  margin: 10px 0 2px 2vw;
  font-weight: 500;
}

.after-result-container p{
  margin: 5px 0 10px 2vw;
  font-size: 20px; 
}