.input-component{
    width: 150%;
    height: 3rem;
    padding: 0 15px;
    display: flex;
    flex-direction: column;
}

.input__container {
    position: relative;
    background: rgb(204, 204, 204);
    padding: 10px 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    border-radius: 22px;
    height: 100%;
    max-width: 100%;
    transition: transform 400ms;
    transform-style: preserve-3d;
    /* transform: rotateX(15deg) rotateY(-20deg); */
    perspective: 500px;
  }
  
  .shadow__input {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    bottom: 0;
    z-index: -1;
    filter: blur(8px);
    border-radius: 20px;
    background-color: #f8fdff;
    background-image: radial-gradient(at 85% 51%, rgb(250, 250, 250) 0px, transparent 50%),
      radial-gradient(at 74% 68%, rgb(216, 245, 255) 0px, transparent 50%),
      radial-gradient(at 64% 79%, rgb(211, 232, 255) 0px, transparent 50%),
      radial-gradient(at 75% 16%, rgb(207, 208, 255) 0px, transparent 50%),
      radial-gradient(at 90% 65%, rgb(196, 255, 229) 0px, transparent 50%),
      radial-gradient(at 91% 83%, rgb(221, 214, 255) 0px, transparent 50%),
      radial-gradient(at 72% 91%, rgb(231, 253, 255) 0px, transparent 50%);
  }
  
  .input__button__shadow {
    cursor: pointer;
    border: none;
    background: none;
    transition: transform 400ms, background 400ms;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    padding: 5px;
  }
  
  .input__button__shadow:hover {
    background: rgba(93, 137, 162, 0.411);
  }
  
  .input__search {
    width: 100%;
    border-radius: 20px;
    outline: none;
    border: none;
    padding: 8px;
    position: relative;
  }

input[type=main-search]{
    background-color: transparent;
    color: rgb(0, 0, 0) !important;
    height: 30px;
}

input[type=main-search]:focus {
    outline: none !important;
    border: none !important;
    box-shadow: none !important;
}

.search-icon{
    color: rgba(95, 95, 95, 1);
    font-size: 20px;
    cursor: pointer;
    margin-top: auto;
}
.search-results{
  width: 80%;
  background-color: white;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 5px 11px 0px rgba(95, 95, 95, 1); 
  border-radius: 27px;
  margin-top: 1rem;
  min-width: 400px;
  max-width: auto;
  overflow-y: visible;
  justify-content: center;
  padding: 8px;
  margin-left: 9.2vh;
  color: black;
  
}
.with-results{
    box-shadow: 0px 5px 11px 0px rgb(138, 137, 137);
}
.search-bar {
    display: flex;
    align-items: center;
    width: 100%;
}
.search-result-item {
    margin: 10px 0;
    align-items: center;
    text-align: left;
}